@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .border {
    @apply border-borderColor border-stander rounded-md;
  }
  .header {
    @apply text-textColor text-sm font-semibold;
  }
  .header2 {
    @apply text-header2 font-medium text-textColor;
  }
  .dealPrice {
    @apply bg-bgGray  text-textSecondColor mt-3 rounded-md font-semibold;
  }
  .subHeader {
    @apply text-textSecondColor text-subHeader;
  }
  .clintSearch {
    @apply border-stander border-secondColor px-2;
  }
  .searchIcon {
    @apply absolute top-1/2 translate-y-[-30%] left-5;
  }
  .text-details {
    @apply text-mainDetails font-medium text-textColor;
  }
  label {
    @apply p-2 rounded-md mx-1 text-header2;
  }
  :host::ng-deep .p-slider .p-slider-range {
    @apply bg-bgGray
   }
}

:host::ng-deep .p-slider-horizontal .p-slider-range {
  height: 10.5px !important;
  
}
:host::ng-deep .p-slider.p-slider-horizontal {
  height: 10.5px !important;
}
:host::ng-deep .p-slider-horizontal .p-slider-handle {
  transform: translateY(-50%)!important;
  z-index: 100!important;
  background-color: blue;
}

.handelShape{

}

.traiangle{
  position: absolute;
  transform: rotate(90deg) ;
  color: black;

  top: 75%;
  left: 27%;
  display: inline;
  
  
}

option {
  width: auto !important;
  height: auto !important;
}
