@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: NeoSansArabic;
  src: url(assets/fonts/alfont_com_NeoSansArabic.ttf) format("opentype");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: NeoSansArabic;
  direction: rtl;
}


